body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*Add CSS styling to navbar*/
.navbar{
    background-color:#516b78;
}

.navbar-nav li:hover{
    background-color:slategray;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Add CSS styling to index jumbotron*/
.jumbotron {
  background-image:url('http://theme-background-videos.s3.amazonaws.com/bokeh.jpg');
}
/*Format body content*/
.body-content .info .container li{
    font-size:25px;
}
.body-content h4{
    text-transform:uppercase;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

