@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="info">
    <div class="container">
        <p> Currently group two is made out of the following persons:</p>
        <ul>
            <li>Gustav</li>
            <li>Sophie</li>
            <li>Viktor</li>
        </ul>
    </div>
</div>
