@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="container-fluid text-center">
    <h2>Why choose us?</h2>
    <h4>We offer you</h4>
    <br>
    <div class="row">
        <div class="col-sm-1 4">
            <span class="glyphicon glyphicon-off"></span>
            <h4>Scrum</h4>
            <p>Lorem isum</p>

        </div>
        <div class="col-sm- 4">
            <span class="glyphicon" glyphicon-off></span>
            <h4>Teambuilding</h4>
            <p>Lorem isum</p>
            </div>
        <div class="col-sm-4"><
        <span class="glyphicon" glyphicon-off></span>
        <h4>Teambuilding</h4>
        <p>Lorem isum</p>
        </div>
        </div>
