@{
    ViewBag.Title = "Images";
}


@{
    ViewBag.Title = "Images";
}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<div class="container">
    <div class="header">
        <h1 class="text-muted">Portfolio</h1>
    </div>

    <div id="slider">
        <ul class="slides">
            <li class="slide slide1"><img src="http://assets22.pokemon.com/assets/cms2/img/pokedex/full/384.png"/></li>
            <li class="slide slide1"><img src="http://weknowyourdreams.com/images/pokemon/pokemon-07.jpg"/></li>
            <li class="slide slide3"><img src="http://assets19.pokemon.com/assets/cms2/img/pokedex/full//001.png"/></li>
            <li class="slide slide4"><img src="https://images-na.ssl-images-amazon.com/images/G/01/videogames/detail-page/pokemon.blk-wte.snivy.lg.jpg"/></li>
            <li class="slide slide5"><img src="http://www.picgifs.com/clip-art/cartoons/pokemon/clip-art-pokemon-150436.jpg"/></li>
            <li class="slide slide1"><img src="http://assets22.pokemon.com/assets/cms2/img/pokedex/full/393.png"/></li>
        </ul>
    </div>

</div>
<script>
$(function() {

    //settings for slider
    var width = 1000;
    var animationSpeed = 3000;
    var pause = 1000;
    var currentSlide = 1;

    //cache DOM elements
    var $slider = $('#slider');
    var $slideContainer = $('.slides', $slider);
    var $slides = $('.slide', $slider);

    var interval;

    function startSlider() {
        interval = setInterval(function() {
            $slideContainer.animate({'margin-left': '-='+width}, animationSpeed, function() {
                if (++currentSlide === $slides.length) {
                    currentSlide = 1;
                    $slideContainer.css('margin-left', 0);
                }
            });
        }, pause);
    }
    function pauseSlider() {
        clearInterval(interval);
    }

    $slideContainer
        .on('mouseenter', pauseSlider)
        .on('mouseleave', startSlider);

    startSlider();


});
</script>
