@{
    ViewBag.Title = "Images";
}


<h2>Pictures from Nasa</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Earth from space</h4>
        <p>
            <a href="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/iss045e048728.jpg?itok=JNQ4MYLJ"target="_blank">  <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/iss045e048728.jpg?itok=JNQ4MYLJ"width="200" height="200"/></a>
        </p>
        <p><a class="btn btn-default" href="https://www.nasa.gov/multimedia/imagegallery/iotd.html" target="_blank">More images from Nasa &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>The moon</h4>
        <p>
            <a href="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/nh-charon-neutral-bright-release.jpg?itok=GuyV7MNC" target="_blank">  <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/nh-charon-neutral-bright-release.jpg?itok=GuyV7MNC" width="200" height="200" /></a>
        </p>
        <p><a class="btn btn-default" href="https://www.nasa.gov/multimedia/imagegallery/iotd.html" target="_blank">More images from Nasa &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Rocket launch</h4>
        <p>
            <a href="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/41g-90139.jpg?itok=OPwNpxYA" target="_blank">  <img src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/41g-90139.jpg?itok=OPwNpxYA" width="200" height="200" /></a>
        </p>
        <p><a class="btn btn-default" href="https://www.nasa.gov/multimedia/imagegallery/iotd.html" target="_blank">More images from Nasa &raquo;</a></p>
    </div>

    </div>