@model List<Grptwomvc.Models.Message>
@{
    ViewBag.Title = "Home Page";
}

@foreach (var msg in Model)
{
    <h3>@msg.Title</h3>
    <div class="body-content">@msg.Body</div>
    <div class="author">@msg.Author @*just nu vil bare user id'en komma her, men flabbert kan haxxa inn en liten funksjon som gir username istället senere*@</div>
    <div class="messagelink">@Html.ActionLink("Full Message with replies", "Details", "Message", new { id = msg.Id }, null)</div>
}
<div class="jumbotron">
        
        <h1>Our Company</h1>
        <p>  We do this bla bla:</p>
        
    </div>


<div class="row">
    <div class="col-md-4">
        <h2>Text goes here</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices ullamcorper vehicula. Ut auctor tellus vel enim feugiat vulputate.
            Aenean dapibus augue quis sem volutpat cursus. Ut at rhoncus magna. Donec dolor risus, hendrerit ac fermentum non, aliquet vitae nisi.
        </p>
        </div>
    <div class="col-md-4">
        <h2>Text goes here</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices ullamcorper vehicula. Ut auctor tellus vel enim feugiat vulputate.
            Aenean dapibus augue quis sem volutpat cursus. Ut at rhoncus magna. Donec dolor risus, hendrerit ac fermentum non, aliquet vitae nisi.
            Nullam id volutpat orci. Mauris pretium, nulla vitae convallis sagittis, risus ligula ultrices arcu, ut aliquam felis mi non eros.
            <br />
            <br />
            In et gravida purus, sed fringilla justo. Maecenas vel commodo felis, eleifend cursus felis. Vivamus suscipit lectus lacus.
            Etiam sed volutpat arcu, mollis varius tortor. Quisque placerat at ligula sed porta. Suspendisse pellentesque eros id neque blandit, quis laoreet arcu mollis.
            Integer rutrum lobortis mattis. Quisque ultricies id lectus at gravida. Pellentesque fermentum eu nisl eget varius. Nulla facilisi. Nam eu turpis nunc.
            Praesent et eleifend tortor. In hac habitasse platea dictumst. Mauris molestie vel ante sit amet blandit. Nam sollicitudin felis sed arcu molestie pulvinar.
        <p><a class="btn btn-default" href="http://www.lipsum.com/feed/html"target="_blank">Learn more &raquo;</a></p>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Text goes here</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultrices ullamcorper vehicula. Ut auctor tellus vel enim feugiat vulputate.
            Aenean dapibus augue quis sem volutpat cursus. Ut at rhoncus magna. Donec dolor risus, hendrerit ac fermentum non, aliquet vitae nisi.
            Nullam id volutpat orci. Mauris pretium, nulla vitae convallis sagittis, risus ligula ultrices arcu, ut aliquam felis mi non eros.
        <p><a class="btn btn-default" href="http://www.lipsum.com/feed/html"target="_blank">Learn more &raquo;</a></p>
        </p>
    </div>
</div>
